@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap");


/* === Main === */

html {
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 16pt;
}

#App {
  background-image: url("./assets/bg-light.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#container {
  padding-top: 70px;
  padding-bottom: 50px;
  max-width: 800px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === Section Wrappers === */

#searchWrapper,
#historyWrapper,
#resultWrapper,
.errorModalWrapper {
  width: 100%;
}

#searchWrapper {
  max-height: 5vh;
  display: flex;
  gap: 0px 20px;
}

#resultWrapper {
  display: flex;
  flex-direction: column;
}

#historyWrapper {
  min-height: 35vh;
}

/* === Search Fields === */

.searchField {
  flex-grow: 2;
}

.searchFieldIcons {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
}

#city,
#country {
  width: 80%;
  height: 4vh;
  border: none;
  border-radius: 15px;
  padding: 0px 30px;
  font-size: 16px;
}

#search,
#clear {
  height: 70%;
}

#search:hover,
#clear:hover,
#recall:hover,
#clearHistory:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.errorModalWrapper {
  margin-top: 2px;
}

/* === Weather Result === */

#mainResult {
  display: flex;
  align-items: center;
  justify-content: center;
}

#resultOverlay {
  height: fit-content;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-bottom: 20px;
}

#weatherIcon {
  height: 170px;
  padding-top: 30px;
}

#weatherInformation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

#weatherImageWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeAndLocation {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  color: #424242;
}

#temperature {
  font-size: 50pt;
  font-weight: 600;
  color: #753dbc;
}

/* === Search History ===  */

.queryRow {
  display: flex;
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 15px;
  gap: 0px 30px;
}

.left {
  display: flex;
  align-items: center;
  gap: 0px 30px;
}

.middle {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0px 30px;
}

/* === Pagination CSS === */

.pagination {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  justify-content: center;
  gap: 0px 20px;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  min-width: 25px;
  border-radius: 25px;
}

.page-item:hover {
  background: #d7d7d760;
  cursor: pointer;
}

.page-item.disabled {
  color: #31313160;
  cursor: not-allowed;
}

.active {
  background: #a983da;
}

.active:hover {
  background: #a067ec;
}

/* === Media queries ===*/

@media only screen and (max-width: 1400px) {
  #container {
    width: 60%;
  }
}

@media only screen and (max-width: 900px) {
  #container {
    width: 80%;
  }

  h1 {
    font-size: 16pt;
  }

  #temperature {
    font-size: 40pt;
  }
}

@media only screen and (max-width: 600px) {
  #container {
    width: 90%;
  }

  h1 {
    font-size: 14px;
  }

  #searchWrapper {
    gap: 0px 30px;
  }

  #temperature {
    font-size: 25pt;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  #weatherIcon {
    height: 120px;
  }

  .middle {
    flex-direction: column;
  }

  #timeAndLocation {
    margin-top: 10px;
    font-size:14px;
  }

  #weatherInformation > div {
    font-size: 10pt;
  }

  #city,
  #country {
    padding: 0px 20px;
  }

  #query, #queryTime {
    font-size: 12px;
  }
}
