html {
  overflow: hidden;
}

#App {
  background-image: url("./assets/bg-light.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#container {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* === Section Wrappers === */

#searchWrapper,
#historyWrapper,
#resultWrapper {
  width: 100%;
}

#searchWrapper {
  max-height: 4vh;
  display: flex;
}

#resultWrapper {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
}


#historyWrapper {
  min-height: 40vh;
}

/* === Search Fields === */
.searchField {
  flex-grow: 2;
}

.searchFieldIcons {
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#city,
#country {
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 0px 20px;
}

#search,
#clear {
  height: 70%;
}

#search:hover, #clear:hover{
  color:rgba(0,0,0,0.5);
  cursor: pointer;
}

/* === Weather Result === */
#mainResult {
  display: flex;
  align-items: center;
  justify-content: center;
}

#resultOverlay {
  height: fit-content;
  width: 100%;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
  padding-bottom: 20px;
}


#sun {
  height: 280px;
}

#weatherInformation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

#weatherImageWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeAndLocation {
  display: flex;
  justify-content: space-around;
}

#temperature {
  font-size: 30pt;
}

/* === Search History ===  */

.queryRow {
  display: flex;
  margin: 15px 0px;
  background: rgba(255,255,255,0.2);
  padding:15px;
  border-radius: 15px;
}

#left {
  flex-grow: 1;
  display: flex;
  gap: 0px 30px;
}

#right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0px 30px;
}
